<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/d7ccb43ad1.js" crossorigin="anonymous"></script>

    <title>Document</title>
</head>
<body>
    <div class="container">
   
      <div class="mobile-header">
            <span class="menu-btn"><i class="fa-solid fa-bars-staggered"></i></span>
        </div>
    

   <nav id="mobilenav-ct" class="hidden">
        
        <ul id="mobilenav" class="hidden">
            <li class="hidden"><a href="/home">Home</a></li>
            <li class="hidden"><a href="/myLists">My Lists</a></li>
            <li class="hidden"><a href="/favorites">Favorites</a></li>
            <li class="hidden"><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i></a></li>
        </ul>
     
   </nav>


   <nav class="topNav">
        <a href="/home">Home</a>
        <a href="/myLists">My Lists</a>
        <a class="navactive" href="/favorites">Favorites</a>
       <a class="logout" href="/logout"><i class="fa-solid fa-right-from-bracket"></i></a>
    </nav>

    <div class="topFavorites-ct">
        <h2>Favorites</h2>

        <p>Here lies your <%=drinks.length %> favorite drinks...</p>
    </div>
    

    
     <div class="cocktails-ct">
        <div id="cocktail-scrollbox">

           <!--  <div id="loader" class="cocktail-loader" style="display:none">
                <div class="loader-glass">
                <div class="loader-liquid"></div>
                
                Bubbles 
                <div class="bubble b1"></div>
                <div class="bubble b2"></div>
                <div class="bubble b3"></div>
                <div class="bubble b4"></div>
                <div class="bubble b5"></div>
                
                <div class="loader-stem"></div>
                <div class="loader-base"></div>
                </div>
                <p>Mixing your cocktail…</p>
            </div> -->

            <!--for loop start-->
            <%for(let i=0; i <drinks.length; i++){ %>
                <div class="cocktailBox" id="cb<%=i%>"> <!--loop-->
                    <div class="inDivLeft" id="inDivLeft<%=i%>"><!--loop-->
                        <img src="<%= drinks[i].image %>" alt="" class="cocktailImg">
                        <div class="interaction-ct">
                            
                                <button  class="favorite-btn <%=(drinks[i].favorited ? 'favorited' : '')%>"  data-drink-id="<%=drinks[i].idDrink%>"  type="button"><i class="fa-solid fa-martini-glass-empty"></i></button>
                            

                          
                                <button  class="list-btn" type="submit"><i class="fa-regular fa-rectangle-list"></i></button>
                                
                        </div>
                        

                    </div>

                    <div class="inDivRight" id="inDivRight<%=i%>" ><!--loop-->

                        <!--I want to click the list button and the drink info disappears/animation swipe left-->
                        <!--Then bring up user lists with update fetch links so the page doesnt reload-->
                        <!--After choosing a list the animation scrolls back over to reveal the drink info-->

                         <div class="drinkList-ct ">
                            <form action="/myLists" method="GET">
                                <button type="submit" class="create-list-btn">Create New List <i class="fa-solid fa-square-plus"></i> </button>
                            </form>
                            <%for(let j=0; j<drinkLists.length; j++){%>
                                <button 
                                  type="button"
                                  class="drinkList-btn <%= drinkLists[j].drinkSet.has(drinks[i].idDrink) ? 'in-list' : '' %>"
                                  data-drink-id="<%= drinks[i].idDrink %>"
                                  data-list-id="<%= drinkLists[j]._id %>"
                                  >

                                  <%= drinkLists[j].name %>

                                </button>
                           <% } %>

                        </div>


                        <div class="drinkInfo">
                             <h2><%= drinks[i].name %></h2>
                            <p>Alcohol Content: <%= drinks[i].alcoholic %></p>
                            <p>Suggested Glass: <%= drinks[i].glass %></p>
                       
                        <ul>
                            <% drinks[i].ingredients.forEach(ingredient => { %>
                                <li><%= ingredient.ingredient %> [<%= ingredient.measurement %>]</li>
                            <% }); %>
                        </ul>
                        <p>Instructions: <%= drinks[i].instructions %></p>
                        </div>
                       
                    </div>

                </div>
            <%}%>
            <!--for loop end-->



        </div>
    </div>

    <div class="footer">
        <p>Made with API from <a href="https://www.thecocktaildb.com/">The Cocktail DB</a></p>
    </div>
    </div>

   
   <script src="/js/main.js"></script>


    
    
</body>
</html>