<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/PD.png"
    />
    <script src="https://kit.fontawesome.com/d7ccb43ad1.js" crossorigin="anonymous"></script>
    <title>Home</title>
</head>
<body>
    
    <div class="container">
    
    <div class="mobile-header">
            <span class="menu-btn"><i class="fa-solid fa-bars-staggered"></i></span>
        </div>
    

   <nav id="mobilenav-ct" class="hidden">
        
        <ul id="mobilenav" class="hidden">
            <li class="hidden"><a href="/home">Home</a></li>
            <li class="hidden"><a href="/lists/myLists">My Lists</a></li>
            <li class="hidden"><a href="/favorites/favorites">Favorites</a></li>
            <li class="hidden"><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i></a></li>
        </ul>
     
   </nav>

    <nav class="topNav">
        <a href="/home">Home</a>
        <a href="/lists/myLists">My Lists</a>
        <a href="/favorites/favorites">Favorites</a>
        <a class="logout" href="/logout">Logout</a>
    </nav>
     
    <div class="header-ct">
    <div class="header glass-card">
        <h1>Pour Decisions</h1>
        <span>Looking for A Cocktail?</span>
        <span>Choose The First Letter of the Drink Name:</span>
    </div>
    </div>
    
    

    <nav>
        
        <ul>
            
            <a class="letter" href="/search/letter/a">A</a>
            <a class="letter" href="/search/letter/b">B</a>
            <a class="letter" href="/search/letter/c">C</a>
            <a class="letter" href="/search/letter/d">D</a>
            <a class="letter" href="/search/letter/e">E</a>
            <a class="letter" href="/search/letter/f">F</a>  
            <a class="letter" href="/search/letter/g">G</a>
            <a class="letter" href="/search/letter/h">H</a>
            <a class="letter" href="/search/letter/i">I</a>
            <a class="letter" href="/search/letter/j">J</a>
            <a class="letter" href="/search/letter/k">K</a>
            <a class="letter" href="/search/letter/l">L</a>
            <a class="letter" href="/search/letter/m">M</a>
            <a class="letter" href="/search/letter/n">N</a>
            <a class="letter" href="/search/letter/o">O</a>
            <a class="letter" href="/search/letter/p">P</a>
            <a class="letter" href="/search/letter/q">Q</a>
            <a class="letter" href="/search/letter/r">R</a>
            <a class="letter" href="/search/letter/s">S</a>
            <a class="letter" href="/search/letter/t">T</a>
            <a class="letter" href="/search/letter/u">U</a>
            <a class="letter" href="/search/letter/v">V</a>
            <a class="letter" href="/search/letter/w">W</a>
            <a class="letter" href="/search/letter/x">X</a>
            <a class="letter" href="/search/letter/y">Y</a>
            <a class="letter" href="/search/letter/z">Z</a>
        </ul>
        
        
    </nav>

    <div class="ingredient-ct">
        <ul class="ingspans">
            <li><span>Or Choose an Ingredient:  If we have it, we'll serve it!</span></li>
           <!--- <li><span></span></li>-->
        </ul>
        
         <ul class="inginputs">
            <form action="/search/ingredient" method="GET">
            <input type="text" id="ingredientInput" name="ingredient">
            <button type="submit">Search By Ingredient</button>
            </form>
        </ul> 

        <button id="toggleIngredients" class="ingButtons">Show Common Ingredients</button>

        <div class="ingredientBoxes">
            <ul class="ingLeft">
                
                <%for(let i=0; i<ingredientsOne.length; i++){%>
                   <li>
                        <form action="/search/ingredient/<%=ingredientsOne[i]%>" method="GET">
                            <button type="submit" class="ingButtons"><%= ingredientsOne[i] %></button>
                        </form>
                        
                    </li>
                <%}%>
            </ul>
            <ul class="ingRight">
                <%for(let j=0; j<ingredientsTwo.length; j++){%>
                    <li>
                        <form action="/search/ingredient/<%=ingredientsTwo[j]%>" method="GET">
                            <button type="submit" class="ingButtons"><%= ingredientsTwo[j] %></button>
                        </form>
                    </li>
                <%}%>
            </ul>
        </div>
        
    </div>

    <div class="numDrinks-ct">
        <p class="numDrinks"><%= drinks.length %> Cocktails Found</p>
        <p>For <%= inputValue %></p>
    </div>

    <div class="cocktails-ct">
        <div id="cocktail-scrollbox">

           <!-- <div id="loader" class="cocktail-loader" style="display:none">
                <div class="loader-glass">
                <div class="loader-liquid"></div>
                
               
                <div class="bubble b1"></div>
                <div class="bubble b2"></div>
                <div class="bubble b3"></div>
                <div class="bubble b4"></div>
                <div class="bubble b5"></div>
                
                <div class="loader-stem"></div>
                <div class="loader-base"></div>
                </div>
                <p>Mixing your cocktail…</p>
            </div> -->

            <!--for loop start-->
            <%for(let i=0; i <drinks.length; i++){ %>
                <div class="cocktailBox" id="cb<%=i%>"> <!--loop-->
                    <div class="inDivLeft" id="inDivLeft<%=i%>"><!--loop-->
                        <img src="<%= drinks[i].image %>" alt="" class="cocktailImg">
                        <div class="interaction-ct">
                            
                                <button  
                                class="favorite-btn <%=(drinks[i].favorited ? 'favorited' : '')%>"  
                                data-drink-id="<%=drinks[i].idDrink%>"  
                                type="button"><i class="fa-solid fa-martini-glass-empty"></i></button>
                                

                          
                                <button  class="list-btn" type="button"><i class="fa-regular fa-rectangle-list"></i></button>
                                <span class="listdsc">Add to List</span>
                                
                        </div>
                        

                    </div>

                    <div class="inDivRight" id="inDivRight<%=i%>" ><!--loop-->

                        <!--I want to click the list button and the drink info disappears/animation swipe left-->
                        <!--Then bring up user lists with update fetch links so the page doesnt reload-->
                        <!--After choosing a list the animation scrolls back over to reveal the drink info-->

                        <div class="drinkList-ct ">
                            <form action="/lists/myLists" method="GET">
                                <button type="submit" class="create-list-btn">Create New List <i class="fa-solid fa-square-plus"></i> </button>
                            </form>
                            <%for(let j=0; j<drinkLists.length; j++){%>
                                <button 
                                  type="button"
                                  class="drinkList-btn <%= drinkLists[j].drinkSet.has(drinks[i].idDrink) ? 'in-list' : '' %>"
                                  data-drink-id="<%= drinks[i].idDrink %>"
                                  data-list-id="<%= drinkLists[j]._id %>"
                                  >

                                  <%= drinkLists[j].name %>

                                </button>
                           <% } %>

                        </div>


                        <div class="drinkInfo">
                             <h2><%= drinks[i].name %></h2>
                            <p>Alcohol Content: <%= drinks[i].alcoholic %></p>
                            <p>Suggested Glass: <%= drinks[i].glass %></p>
                       
                        <ul>
                            <% drinks[i].ingredients.forEach(ingredient => { %>
                                <li><%= ingredient.ingredient %> [<%= ingredient.measurement %>]</li>
                            <% }); %>
                        </ul>
                        <p>Instructions: <%= drinks[i].instructions %></p>
                        </div>
                       
                    </div>

                </div>
            <%}%>
            <!--for loop end-->



        </div>
    </div>

    <div class="footer">
        <p>Made with API from <a href="https://www.thecocktaildb.com/">The Cocktail DB</a></p>
    </div>
    </div>
    
   
   <script src="/js/main.js"></script>


</body>
</html>